<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My Service</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
  <div class="section" id="app">
    <div class="columns is-centered">
      <div class="column is-full-mobile is-half-tablet">
        <div v-if="!loading && todos.length === 0">No todos</div>
        <div class="content">
          <div class="list is-hoverable">
            <div class="list-item columns" v-for="todo in todos" :key="todo.id">
              <div class="column">
                  <input type="checkbox" v-model="todo.completed" @change="saveTodo(todo)">
              </div>
              <div class="column is-three-quarters">
                {{ todo.title }}
              </div>
              <div class="column has-text-right">
                <button class="button has-background-danger has-text-white" type="button" @click="deleteTodo(todo)">delete</button>
              </div>
            </div>
          </div>
        </div>
        <form @submit.prevent="createNewTodo">
          <div class="card is-clearfix is-one-third">
            <div class="card-content">
              <div class="field">
                <label class="label">Title</label>
                <div class="control">
                  <input class="input" type="text" :disabled="loading" v-model="newTodo.title">
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <button class=" card-footer-item button has-background-primary" :disabled="loading" type="submit">Create new TODO</button>
          </footer>
        </form>
      </div>
    </div>
  </div>
  <script>
    var ENDPOINT = 'https://xxxxxxxxx.execute-api.eu-west-1.amazonaws.com/test'; // Change this with your endpoint
    var app = new Vue({
      el: '#app',
      data: {
        loading: true,
        todos: [],
        newTodo: {
          title: ''
        }
      },
      mounted() {
        this.loadTodos();
      },
      methods: {
        loadTodos() {
          this.loading = true;
          axios.get(ENDPOINT + '/todo').then((response) => {
            this.todos = response.data;
            this.loading = false;
          })
        },
        createNewTodo() {
          axios.put(ENDPOINT + '/todo', this.newTodo).then((response) => {
            this.newTodo = {
              title: ''
            }
            this.loadTodos();
          })
        },
        saveTodo(todo) {
          axios.post(ENDPOINT + '/todo/' + todo.id, todo).then((response) => {
            this.loadTodos();
          })
        },
        deleteTodo(todo) {
          axios.delete(ENDPOINT + '/todo/' + todo.id).then((response) => {
            this.loadTodos();
          })
        }
      }
    })
  </script>
</body>

</html>
